<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.jy.dao.AnswercommentDao">
<!-- 复杂查询 -->
	<select id="getAnswercomment" parameterType="Integer" resultType="com.jy.entity.Answercomment">
		select * from answercomment where answerid=#{answerid} and status="1" 
	</select>
	<insert id="insertAnswercomment" parameterType="com.jy.entity.Answercomment" useGeneratedKeys="true">
		insert into answercomment(answerid,userid,prisenumb,commentcontent,createtime,status) VALUES (#{answerid},#{userid},"0",#{commentcontent},#{createtime},1)
	</insert>
	<update id="priseac" parameterType="com.jy.entity.Answercomment">
        update answercomment set prisenumb=prisenumb+1 where commentid=#{commentid}
	</update> 
	<update id="reduceac" parameterType="com.jy.entity.Answercomment">
        update answercomment set prisenumb=prisenumb-1 where commentid=#{commentid}
	</update>
</mapper>