<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.jy.dao.ArticleDao">
<!-- 复杂查询 -->
	<select id="getArticleByUser" parameterType="String" resultType="com.jy.entity.Article">
		select * from article where userid=#{user} and status="1" order by prisenumb desc
	</select>
	<insert id="insert" parameterType="com.jy.entity.Article" useGeneratedKeys="true">
		insert into article VALUES (#{articleid},#{userid},#{photo},#{prisenumb},#{articlecontent},#{createtime},"1",#{articlename})
	</insert>
	<update id="priseac" parameterType="com.jy.entity.Answercomment">
        update answercomment set prisenumb=prisenumb+1 where commentid=#{commentid}
	</update> 
	<update id="reduceac" parameterType="com.jy.entity.Answercomment">
        update answercomment set prisenumb=prisenumb-1 where commentid=#{commentid}
	</update>
	<update id="addacomment" parameterType="com.jy.entity.Answercomment">
        update answer set commentnumb=commentnumb+1 where answerid=(select answerid from answercomment where commentid=#{commentid}) and status="1"
	</update>
</mapper>