<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.jy.dao.IdeaDao">
<!-- 复杂查询 -->
	<select id="getIdeaById" parameterType="Integer" resultType="com.jy.entity.Idea">
		select * from idea where  ideaid=#{id} and status="1" 
	</select>
	<select id="getIdeasByUser" parameterType="String" resultType="com.jy.entity.Idea">
		select * from idea where  userid=#{user} and status="1" order by prisenumb desc
	</select>
	<insert id="insert" parameterType="com.jy.entity.Idea">
		insert into idea VALUES (#{ideaid},#{userid},#{ideacontent},#{photo},#{prisenumb},#{createtime},1)
	</insert>
	<update id="deleteIdea" parameterType="int">
        update idea set status="0" where ideaid=#{id}
	</update> 
	<update id="reduceac" parameterType="com.jy.entity.Answercomment">
        update answercomment set prisenumb=prisenumb-1 where commentid=#{commentid}
	</update>
</mapper>