<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.jy.dao.TopicDao">
<!-- 复杂查询 -->
	<select id="getAllTopics" parameterType="String" resultType="com.jy.entity.Topic">
		select * from topic
	</select>
	<select id="getTopics" resultType="com.jy.entity.Topic">
		select * from topic
	</select>
	<insert id="addTopic" parameterType="com.jy.entity.Topic">
		insert into topic values(#{topicid},#{topicname},#{topicdescribe},"1",#{createtime})
	</insert>
	<select id="getTopicByid" parameterType="int" resultType="com.jy.entity.Topic">
		select * from topic where topicid=#{topicid}
	</select>
	<update id="closeTopic" parameterType="int">
		update topic set photo="0" where topicid=#{topicid}
	</update>
	<update id="openTopic" parameterType="int">
		update topic set photo="1" where topicid=#{topicid}
	</update>
	<update id="updateTopic" parameterType="com.jy.entity.Topic">
		update topic set topicname=#{topicname},topicdescribe=#{topicdescribe} where topicid=#{topicid}
	</update>
	
	
	
</mapper>