<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.jy.dao.TopicDao">
<!-- 复杂查询 -->
	<select id="getAllTopics" parameterType="String" resultType="com.jy.entity.Topic">
		select * from topic
	</select>
	<select id="finUserByTel" parameterType="String" resultType="com.jy.entity.User">
		select * from user where telnum=#{username} and status="1"
	</select>
	<select id="finUserByEmail" parameterType="String" resultType="com.jy.entity.User">
		select * from user where adress=#{username} and status="1"
	</select>
	<select id="getUserById" parameterType="String" resultType="com.jy.entity.User">
		select * from user where userid=#{id} and status="1"
	</select>
	<select id="checkTelnum" parameterType="com.jy.entity.User" resultType="com.jy.entity.User">
		select * from user where telnum=#{telnum} and status="1"
	</select>
	<insert id="insertUser" parameterType="com.jy.entity.User" useGeneratedKeys="true">
		insert into user(userid,telnum,password,status) VALUES (#{telnum},#{telnum},#{password},"1")
	</insert>
	<select id="getAllUser"  resultType="com.jy.entity.User">
		select * from user 
	</select>
	<update id="updatePassword"  parameterType="com.jy.entity.User">
		update user set password=#{password} where userid=#{userid}
	</update>
	<update id="updateTelNum"  parameterType="com.jy.entity.User">
		update user set telnum=#{telnum} where userid=#{userid}
	</update>
	<update id="updateUserId"  parameterType="com.jy.entity.User">
		update user set userid=#{telnum} where telnum=#{telnum}
	</update>
	<update id="updateEmail"  parameterType="com.jy.entity.User">
		update user set adress=#{adress} where userid=#{userid}
	</update>
</mapper>