<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.jy.dao.UserDao">
<!-- 复杂查询 -->
	<select id="findUser" parameterType="String" resultType="com.jy.entity.User">
		select * from user where userid=#{username} and status="1"
	</select>
	<select id="checkTelnum" parameterType="com.jy.entity.User" resultType="com.jy.entity.User">
		select * from user where telnum=#{telnum} and status="1"
	</select>
	<insert id="insertUser" parameterType="com.jy.entity.User" useGeneratedKeys="true">
		insert into user(userid,telnum,password,status) VALUES (#{telnum},#{telnum},#{password},"1")
	</insert>
	
</mapper>